@charset "utf-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ---------------------------------------------------- 
                                                    
---------------------------------------------------- */
.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

:root {
  --app-dark-bg: #1a1d28;
  --app-light-bg: #f0f2f4;
  --app-red: #ff3c57;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
 }

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  border-style: none;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background:
  conic-gradient(from 0deg at calc(500%/6) calc(100%/3),#666 0 120deg,#0000 0),
  conic-gradient(from -120deg at calc(100%/6) calc(100%/3),#cf0030 0 120deg,#0000 0),
  conic-gradient(from 120deg at calc(100%/3) calc(500%/6),#000000 0 120deg,#0000 0),
  conic-gradient(from 120deg at calc(200%/3) calc(500%/6),#000000 0 120deg,#0000 0),
  conic-gradient(from -180deg at calc(100%/3) 50%,#cf0030  60deg,#000000 0 120deg,#0000 0),
  conic-gradient(from 60deg at calc(200%/3) 50%,#000000  60deg,#666 0 120deg,#0000 0),
  conic-gradient(from -60deg at 50% calc(100%/3),#000000 120deg,#cf0030 0 240deg,#666 0);
  background-size: 111px 64px;

  height: 100%;
}

.shadow {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
}


ul, ol {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

li, a, i, figure, img, button,
input[type=button], input[type=submit] {
  -webkit-user-select: none;
     -moz-user-select: none; 
          user-select: none;
}

input, textarea, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=button], input[type=submit], input[type=clear], button, a {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

