@import url(./reset.css);

form h1 {
  letter-spacing: 2px;
}

input[type="search"] {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  padding: 8px;
  width: 500px;
  transition: all .5s ease-in-out;
  background-color: rgb(53, 53, 53);
  border-radius: 50px;
  border: 1px solid #acacac;
}

input[type="search"]:hover {
  box-shadow: 0 .5px 0 0 rgb(53, 53, 53);
}

input[type="submit"]{
  display: block;
  color: #fff;
  padding: 0 16px;
  font-weight: 600;
  background-color: var(--app-blue);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: all .4s ease-in-out;
  height: auto;
}

input[type="submit"]:hover {
  background-color: var(--app-blue-hover);
}

.animated {
  animation: fadeInMoveIn .8s ease-out forwards;
}


h1, h2 {
  color: #fff;
  font-size: 2rem;
}

.user-info {
  font-size: 15px;
}

span, .repo-name{
  color: var(--app-green);
  font-weight: 600;
}

.created{
  color: #999999;
}

img {
  border-radius: 50%;
  height: 175px;
  width: 175px;
}

button{
  color: #fff;
}

.profile-link{
  margin: 6px 0;
  padding: 8px;
  background-color: var(--app-red);
  width: 50%;
  border-radius: 50px;
}

.profile-card{
  background-color: rgb(26, 29, 40, .75);
  padding: 22px;
  border-radius: 20px;
}

.repo-name:hover{
  text-decoration: underline var(--app-green);
}
.redirect-btn{
  background-color: var(--app-red);
}

.repo-container {
  background-color: rgb(26, 29, 40, .75);
  margin-bottom: 10px;
  padding: 10px;
}

.repo-name {
  padding: 4px 0;
}

.repo-desc, p {
  color: #fff;
}
.repo-desc{
  font-size: 1.1rem;
}

.created{
  font-size: .8rem;
  text-align: right;
}

.loader {
  display: block;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--app-red);
  -webkit-animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--app-red);
  -webkit-animation: spin 3s linear infinite; 
  animation: spin 3s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: var(--app-red);
  -webkit-animation: spin 1.5s linear infinite; 
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { 
    transform: rotate(0deg); 
  }
  100% { 
    transform: rotate(360deg); 
  }
}

@keyframes fadeInMoveIn {
  0% {
    opacity: 0;
    transform: translatey(-20px);
  }
  100% {
    opacity: 1;
    transform: translatey(0);
  }
}
